<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">Dashboard</div>
      </div>
      <div class="nav-links">
        <a href="//github.com/suvargha-2000">Github</a>
      </div>
    </div>
    <canvas id="myChart" style="width: 100%; max-width: 700px"></canvas>
  </body>
</html>
